[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
numpy = "*"
gunicorn = "*"
torch = "*"
torchvision = "*"
pycryptodome = "*"
# 训练模型
matplotlib = "*"
tensorflow = "*"
tensorboardX = "*"

[requires]
python_version = "3.6"
